<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs font-bold">Tuğba Nur DENİZ</span>
                        <span class="text-muted text-xs block">Diyetisyen <b class="caret"></b></span>
                    </a>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>





            <li>
                <a href="/admin/Category/Index"><i class="fa fa-group"></i> <span class="nav-label">Kategoriler</span>  </a>
            </li>
            <li>
            <li>
                <a href="/Admin/Blog/BlogTitleListExcel"><i class="fa fa-list-alt"></i> <span class="nav-label">Bloglar</span>  </a>
            </li>
            <li>

            <li>
                <a href="~/Home/Index"><i class="fa fa-comment"></i> <span class="nav-label">Siteye Git</span>  </a>
            </li>
            <li>
                <a href="~/Contact/Index"><i class="fa fa-phone"></i> <span class="nav-label">İletişim</span>  </a>
            </li>
            <li>
                <a href="~/About/Index"><i class="fa fa-book"></i> <span class="nav-label">Hakkımızda</span>  </a>
            </li>
            <li>
                <a href="~/AdminLogin/Index"><i class="fa fa-book"></i> <span class="nav-label">Çıkış Yap</span>  </a>
            </li>

        </ul>
    </div>
</nav>
