@{
    ViewData["Title"] = "Home Page";
}

<div id="slider">
    <a href="#"><img src="resim/1.jpg" alt="Örümcek Adam Filmi" /></a>
    <a href="#"><img src="resim/2.jpg" /></a>
    <a href="#"><img src="resim/3.jpg" /></a>
    <a href="#"><img src="resim/4.jpg" /></a>
    <a href="#"><img src="resim/5.jpg" /></a>
</div>
