<div class="tech-btm widget_social">
    <h4>Sosyal Medya Hesaplarımız</h4>
    <ul>

        <li>
            <a class="twitter" href="#">
                <i class="fab fa-twitter"></i>
                <span class="count"></span> Twitter
            </a>
        </li>
        <li>
            <a class="pin" href="https://www.instagram.com/otuzikidisss/">
                <i class="fab fa-instagram"></i>
                <span class="count"></span> Instagram 
            </a>
        </li>
        <li>
            <a class="dribble" href="#">
                <i class="fab fa-google"></i>
                <span class="count"></span> Google
            </a>
        </li>
    

    </ul>
</div>